_site
.DS_Store
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.bundle-user
.sass-cache
vendor
node_modules
package.json
favicon.ico
server.out.log
server.err.log
pdfs
tn
_posts
_old_posts
_sass
style.scss
_make_favicon.sh
_make_thumbnails.sh
images/*
!images/profile.jpg
